.mainDiv {
  width: 100%;
  background-color: #fff2e3;
}
.selectDiv {
  width: 15%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.selectDiv a {
  color: #372e24;
  text-decoration: none;
}
.prod {
  width: 45%;
}
.productDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ulItems li {
  color: #372e24;
  text-decoration: none;
  list-style: none;
}
.sideBarDiv h1 {
  color: #372e24;
  font-size: 28px;
}
.sideBarDiv ul{
    margin-left: -40px;
}
.selectDiv {
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.selectBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}
.selectContainer {
  width: 200px;
  height: 40px;
  border: none;
  background: #f1dac5;
  color: #372e24;
  text-align: right;
}
.hideFirst {
  display: none;
}
.showFirst {
  display: block;
  margin-left: 20px;
}
.showFirst li {
  padding: 8px;
}
.hideSecond {
  display: none;
}
.showSecond {
  display: block;
  margin-left: 40px;
}
.showSecond li {
  padding: 8px;
}
.ulItems li {
  cursor: pointer;
}
.ulItems a {
  cursor: pointer;
  color: #372e24 !important;
  text-decoration: none;
}
.vectorDiv {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.vectorDivSecond {
  display: flex;
  justify-content: space-between;
  width: 47%;
}

@media (max-width: 600px) {
  .sideBarDiv{
    background: #f1dac5;
    z-index: 1000;
    position: absolute;
    top: 15%;
    width: 30%;
  }
  .sideBarDiv ul{
    margin-left: -27px;
}
  .showFirst{
    margin-left: 0%;
  }
  .showSecond{
    margin-left: 0%;
  }
  .sideBarDiv h1 {
    font-size: 14px;
    padding: 0px 15px;
  }
  .selectBlock {
    display: flex;
    justify-content: space-around;
  }
  .mediumH {
    display: none;
  }
  .responsiveH {
    display: block;
    width: 100%;
    text-align: center;
  }
  .mainGrid {
    display: flex;
    justify-content: center;
  }
  .selectCatDiv {
    display: block;
  }
  .selectContainer {
    width: 100%;
    font-size: 10px;
  }
  .selectContainer option {
    width: 100% !important;
  }
}

@media (min-width: 600px) {
    .sideBarDiv ul{
        display: block !important;
    }
  .responsiveH {
    display: none;
  }
  .selectCatDiv {
    display: none;
  }
  .allProdBlock {
    display: flex;
    justify-content: flex-end;
  }
  .selectBlock {
    display: flex;
    justify-content: space-between;
    width: 66%;
  }
}
