.vector{
  margin-left: 50px;
  cursor: pointer;
  width: 20px;
}

.categoriesDropdown{
  display: none;
}

.categoriesListItem {
  font-size: 20px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.categoriesListItem a:hover {
  color: #E6A66E !important;
}

.childrenListItem {
  margin-left: 80px;
  margin-bottom: 20px;
}

.childrenListItem:hover {
  color: #E6A66E !important;
}

.childrenListItem:first-child {
  margin-top: 20px;
}

.mainDiv {
  width: 100%;
  background-color: #fff2e3;
  font-weight: lighter;
}
.selectDiv {
  width: 15%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.selectDiv a {
  color: #372e24;
  text-decoration: none;
}
.prod {
  width: 45%;
}
.productDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ulItems li {
  color: #372e24;
  text-decoration: none;
  list-style: none;
}
.sideBarDiv h1 {
  color: #372e24;
  font-size: 28px;
}
.sideBarDiv ul {
  margin-left: -40px;
}
.selectDiv {
  display: flex;
  justify-content: space-between;
  width: 20%;
  font-weight: lighter;
}
.selectBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}
.selectContainer {
  width: 200px;
  height: 40px;
  border: none;
  background: #f1dac5;
  color: #372e24;
  text-align: right;
}
.hideFirst {
  display: none;
}
.showFirst {
  display: block;
  margin-left: 20px;
}
.showFirst li {
  padding: 8px;
  cursor: pointer;
}
.hideSecond {
  display: none;
}
.showSecond {
  display: block;
  margin-left: 40px;
}
.showSecond li {
  padding: 8px;
  cursor: pointer;
}

.vectorDiv {
  cursor: pointer;
}
.ulItems a {
  cursor: pointer;
  color: #372e24 ;
  text-decoration: none;
}
.vectorDiv {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.vectorSort {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #f1dac5;
  height: 100%;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}
.vectorSort img {
  margin-right: 10px;
  margin-left: 10px;
}
.vectorSort h4 {
  margin-left: 70px;
  font-weight: lighter;
}
.vectorDivSecond {
  display: flex;
  justify-content: space-between;
  width: 47%;
}
.hideSort {
  display: none;
}
.showSort {
  display: block;
}
.showDiv {
  z-index: 1;
  position: absolute;
  display: block;
  width: 100%;
  background-color: #f1dac5;
}
.showDiv a{
  color: #372e24;
  text-decoration: none !important;
  font-size: 18px;
  margin: 3%;
}
.showDiv ul{
  margin: 3%;
}
.mdDiv{
  position: absolute;
  display: none;
}
.showSort a {
  color: #372e24;
  text-decoration: none;
}
.vectorSortCategory {
  display: flex;
  margin-bottom: 20px;
}
.miniVec {
  display: none;
}

.sideBarSortDiv{
  position: relative;
  background-color: #f1dac5;
}



@media (max-width: 1100px) {
  .titleP {
    font-size: 5px;
  }

@media (max-width: 810px) {
  .vectorSortCategory h1{
    font-size: 24px !important;
  }
  .categoriesListItem {
    font-size: 16px;
  }
  .vector {
    margin-left: 0px;
  }
}

}
@media (max-width: 600px) {
  .categoriesDropdown{
    display: inline-block;
    margin-left: 8.5%;
    border: none;
    position: relative;
    background-color: hsl(29, 61%, 86%);
    width: 37.5%;
    height: 46px;
  }
  .categoriesDropdownTitle{
    font-weight: 500 !important;
    font-size: 16px;
  }
  .categoriesDropdownContent{
    display: none;

  }
  .categoriesDropdownContentOn{
    display: block;
    position: absolute;
    background-color: #F1DAC5;
    min-width: 100%;
    z-index: 1;
  }
  .categoriesDropDownBtn{
    background-color: #F1DAC5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 46px;
  }
  .vector{
    cursor: pointer;
    width: 10px;
    margin-left: 5px;
  }
  .categoriesListItem {
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-decoration: none;
  }
  .categoriesListItem a:active {
    text-decoration: none;
  }
  .categoriesListItem a:hover {
    color: #E6A66E !important;
  }
  .childrenListItem {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .childrenListItem:hover {
    color: #E6A66E !important;
  }
  .childrenListItem:first-child {
    margin-top: 10px;
  }
  .selectBlock{
    display: flex;
    justify-content: start !important;
  }
  .vectorSort{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .vectorSort h4 {
    margin: 0 auto;
  }
  .vectorSort img {
    margin: 0 !important;
  }
  .sideBarSortDiv {
    z-index: 1000;
    position: absolute;
    top: 11%;
    //width: 37%;
    left: 54%;
    display: flex;
    justify-content: end;
  }
  .sideBarSortDiv ul {
    font-size: 10px;
  }

  .showDiv a{
    font-size: 12px;
  }
  .showFirst {
    margin-left: 0%;
  }
  .showSecond {
    margin-left: 0%;
  }
  .selectBlock {
    display: flex;
    justify-content: space-around;
  }
  .mediumH {
    display: none;
  }
  .responsiveH {
    display: block;
    width: 100%;
    text-align: center;
  }
  .mainGrid {
    display: flex;
    justify-content: center;
  }
  .selectContainer {
    width: 100%;
    font-size: 12px;
  }
  .vectorSort h4 {
    font-size: 13px;
    margin: 0;
    padding: 10px;
  }
  .vectorSortCategory {
    width: 110%;
    margin: 0;
  }
  .miniVec {
    display: block;
  }
  .sideBarSortDiv{
    top:112px;
    font-size: 30px;
    right: 11%;
  }
}


@media (min-width: 600px) {
  .responsiveH {
    display: none;
  }
  .allProdBlock {
    display: flex;
    justify-content: flex-end;
  }
  .selectBlock {
    display: flex;
    justify-content: space-between;
    width: 66%;
  }
}

@media (max-width: 616px){
  .vectorSort h4 {
    margin-left:0;
    width: 143px;
  }
}

@media (min-width: 601px){
  .vectorSort h4 {
    margin-left: 21px;
  }
}


