.btn{
    width: 60%;
    border-radius: 25px;
    height: 8%;
    background: #F1DAC5;
    border: none;
    position: absolute;
    left: 20%;
    top: 55%;
    cursor: pointer;
}
.btn:hover{
    background: #372E24;
}
