// Product Page Main
.product_container {
  width: 100%;
  height: 200vh;
  background-color: #fff2e3;
  
}

// Other

.mainDress {
  margin-top: 30%;
}

.text {
  margin-top: 23%;
}

.colors {
  display: flex;
}

.color {
  display: flex;
  margin-top: -1%;
}

.each_color {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin: 5px;
}

.description {
  width: 90%;
  line-height: 25px;
}

h3,
p {
  line-height: 30px;
}

.btn {
  width: 40%;
  height: 50px;
  background-color: #372e24;
  border: none;
  border-radius: 30px;
  color: white;
  font-family: "Montserrat";
  font-size: 1rem;
}

.mainSwiper {
  margin-top: 42%;
  .iconUp,
  .iconDown {
    margin-left: 33%;
  }
}
// Swiper
.mySwiper {
  height: 73vh;
  :global(.swiper) {
    height: 100vh;
  }
  :global(.swiper-wrapper) {
    position: absolute;
    padding-left: 30%;
    height: 100vh;
  }
  .dress {
    width: 33%;
  }
}
