@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.profilePage {
    width: 100%;
    background-color: $beige-background;
    padding-bottom: 100px;
    & .navigation {
        padding-top: 100px !important;
        padding-bottom: 30px;
        margin: 0 auto !important;

        @include xsm-2 {
            width: 90% !important;
        }

        & .link {
            font-family: "Montserrat";
            color: black;
            font-weight: 300;
            &::after {
                display: block;
                content: attr(title);
                font-weight: bold;
                overflow: hidden;
                visibility: hidden;
                height: 0;
            }
            &:hover {
                font-weight: 500;
            }
        }
    }

    & .profile {
        display: flex;
        background-color: transparent;
        box-shadow: none;

        @include md-2 {
            flex-direction: column;
            align-items: center;
        }
        & .photo {
            max-width: 400px;
            max-height: 700px;
            object-fit: contain;

            @include md-2 {
                margin: 0px 0px 15px;
            }
        }
        & .content {
            padding: 0px;
            margin-left: 50px;
            display: flex;
            flex-direction: column;
            width: 50%;

            @include md-2 {
                text-align: center;
                margin-left: auto;
                display: block;
                width: 100%;
            }
            & p {
                margin-bottom: 10px;
                font-style: normal;
                font-weight: 400;
                font-size: 1em;

                @include md-2 {
                    font-weight: 600;
                }
            }
            & input {
                font-size: 1em;
                font-family: inherit;
                max-width: 400px;
                width: 100%;
                height: inherit;
                outline: none;
                padding: 15px 30px;
                margin: 10px 0px;
                border: none;
                border-radius: 50px;
                background-color: $input-beige;
                color: $input-text;
                @include sm {
                    font-size: 0.9em;
                }
                @include xsm-2 {
                    font-size: 0.8em;
                }
            }

            & .btn {
                display: block;
                background-color: $primary-button;
                color: $secondary-beige;
                font-size: 1em;
                font-family: inherit;
                max-width: 400px;
                width: 100%;
                height: inherit;
                outline: none;
                padding: 15px 30px;
                margin: 10px 0px 15px;
                border: none;
                border-radius: 50px;
                cursor: pointer;

                @include md-2 {
                    width: max-content;
                    margin:10px auto;
                    
                }
                &__save {
                    background-color: #a99783;
                    color: #74614d;
                }
            }
        }
    }
}
