.image {
  display: flex;
  justify-content: center;
}

.btn {
  width: 368px;
  height: 90px;
  background: #372e24;
  border-radius: 45px;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  margin: 98px 0;
  color: #f1dac5;
  border: none;
}
