.image {
  display: flex;
  justify-content: center;

  
}

.btn {
  width: 25vw;
  height: 5vw;
  background: #372e24;
  border-radius: 45px;
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.4375vw;
  margin: 98px 0 0 0;
  color: #f1dac5;
  border: none;
  cursor: pointer;

  ;
}
@media screen and (max-width: 425px) {
  .btn {
    margin: 5px 0 0 0;
  }
  @media screen and (max-width: 320px) {
    .btn {
    margin: 10px 0 0 0;
      
    }
  }
}
