@import "src/styles/mixins";
@import "src/styles/vars";

.headerNav {
  @include md {
    display: none;
  }
}
.headerNavInner {
  display: flex;
  align-items: center;
  gap: 25px;
}

.headerNavInner li a {
  color: $black-text;
}
