@import "src/styles/vars";

.table {
  background: none !important;
  box-shadow: none !important;

  .tableCell,
  .tableCellHeader {
    font-family: inherit !important;
    border-bottom: none !important;
  }
  .tableCell {
    font-weight: 300;
  }
  .tableCellName {
    font-weight: 500;
  }

  .status {
    padding: 8px;
    border-radius: 15px;
    &.Active,
    &.Pending,
    &.Banned,
    &.Deleted {
      color: $black-text;
      font-weight: 400;
    }
    &.Active {
      background-color: $admin-approved;
    }
    &.Pending {
      background-color: $admin-pending;
    }
    &.Banned {
      background-color: $admin-banned;
    }
    &.Deleted {
      background-color: $admin-deleted;
    }
  }
}
