.image {
  &__input {
    width: 43.75vw;
    height: 5.625vw;
    border: none;
    background: rgba(241, 218, 197, 0.8);
    border-radius: 45px;
    font-weight: 300;
    font-size: 2vw;
    line-height: 2.4375vw;
    color: #795E41;
    margin: 50px 0;
    display: flex;
    padding: 0 30px;
    justify-content: center;
  }

  @media screen and (max-width:1440px) {
  
  }

  @media screen and(max-width:1024px) {
    &__input {
      display: flex;
      margin: 20px 0;
    }
  }
  @media screen and (max-width: 425px) {
    &__input {
      width: 200px;
      height: 46px;
      
    }
  }
  @media screen and (max-width: 375px) {
    &__input {
      width: 100px;
      height: 20px;
    }
  }
}
