.image {
  width: 1680px;
  height: 1053px;

  &__flex {
    margin: 111px 0;
    display: flex;
    justify-content: center;
  }
&__item {
    display: flex;
    justify-content: flex-end;
    

}

  &__h3 {
    position: absolute;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
    color: #f1dac5;
    margin: 195px 60px;
    text-align: center;
    
  }

}
